!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title=page.title
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/styles.css" }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"/stylesheets/prettify.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    %script{ :type=>'text/javascript', :src=>' https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js' }
  %body
    %header.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .span3
            %a.brand{ :href=>"/" } Aslak Knutsen
          .span4.nav
            &lt;
            %a{:id=>"past", :class=>"hide"} Past
          .span4.nav{:style=>"text-align:right"}
            %a{:id=>"future", :class=>"hide"} Future
            &gt;
    .container
      ~ content

    %footer.navbar.navbar-fixed-bottom
      .navbar-inner
        .container
          .span3{:style=>"padding-top:5px"}
            %a{:href=>"http://arquillian.org"}
              %img{:src=>"/images/arquillian_icon_32px-glossy.png"}

    -# Uncomment script tags (remove leading -#) when you're ready to use behaviors
    -# %script{ :type=>'text/javascript', :src=>"#{site.base_url}/javascripts/bootstrap-collapse.js" }
    %script{ :type=>'text/javascript', :src=> '/javascripts/prettify.js'}
    %script{ :type=>'text/javascript'}
      $(window).load(function() { $('pre>code').addClass('prettify').parent().addClass('prettify'); prettify() })
      
%script
  :plain
    $(window).load(function() {
      $.ajax({
        url: '/api/blogs.json',
        dataType: 'json'
      }).done(function(data) {

        blogs = {
          data: data,
          container: "#blog_entry",
          future_link: "#future",
          past_link: "#past"
        }
        blogs.initialize = function(current_url) {
          this.data.current(current_url)

          if(this.data.hasPast()) {
            past = this.data.getPast()
            this.prepareNav(this.past_link, past.name, past.path)
          }
          else {
            this.prepareNav(this.past_link, "Index", "/index.html")
          }
          if(this.data.hasFuture()) {
            future = this.data.getFuture()
            this.prepareNav(this.future_link, future.name, future.path)
          }
          else {
            this.prepareNav(this.future_link, "Index", "/index.html")
          }
        }
        blogs.data.current = function(url) {
          this.current_url = url
        }
        blogs.data.hasPast = function() {
          var index = this.current_index()
          return index+1 <= (this.length-1)
        }
        blogs.data.getPast = function() {
          return this[this.current_index()+1]
        }
        blogs.data.hasFuture = function() {
          var index = this.current_index()
          return index-1 >= 0
        }
        blogs.data.getFuture = function() {
          return this[this.current_index()-1]
        }
        blogs.data.current_index = function() {
          for(i = 0; i < this.length; i++) {
            if(this[i].path == this.current_url) {
              return i;
            }
          }
          return -1
        }
        blogs.prepareNav = function(link, text, url) {
          $(link)
            .html(text)
            .fadeIn(500)
            .on().click(function() {
              blogs.load(url)
            })
        }
        blogs.load = function (url) {
          cont = this.container
          $(cont).slideUp('fast', function() {
            $(this).load(url + ' ' + cont, function() {
              $('pre>code').addClass('prettify')
                .parent().addClass('prettify');
              prettify();
              blogs.initialize(url)
              $(this).slideDown('fast');
            })
          })
        }
        blogs.initialize(window.location.pathname)

        $(window).keydown(function (e) {
          var keyCode = e.keyCode || e.which,
                arrow = {left: 37, right: 39};

          switch(keyCode) {
            case arrow.left:
              if(blogs.data.hasPast()) {
                blogs.load(blogs.data.getPast().path)
              }
              else {
                blogs.load("/index.html")
              }
            break;
            case arrow.right:
              if(blogs.data.hasFuture()) {
                blogs.load(blogs.data.getFuture().path)
              }
              else {
                blogs.load("/index.html")
              }
            break;
          }
        })
      })
    })